h1{
    text-align: center;
  }
  .navbar{
    justify-content: space-between;
    height: 8vh;
  }
  span{
    padding-right: 2rem;
    font-size: small;
  }
  a{
    padding-right: 2rem;
    font-size: small;
    color: white;
  }
  mat-toolbar{
    background-color: black;
  }
  
  img{
    width: 120px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .Nav a{
    text-decoration: none;
  }
  .Nav a:hover{
    color: blue;
  }