<mat-toolbar class="navbar">
  <div class="logo">
    <img src="assets/HCL.gif" alt="Logo">
  </div>
  <div class="Nav">
      <a routerLink="home">Home</a>
      <a routerLink="employee">Employee</a>
      <a routerLink="login">Sign-In</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>