#div{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin-top: -6px;
  }
  #vid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  h1{
    text-align: center;
    margin-top: 10px;
    color: white;
  }
  #heading{
    background-color: #11428C;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
  }