<section id="newsletter">
    <div class="newstext">
    <h4>Sign up for Latest News of HCL</h4>
    <p>Get E-mail notifications about latest events, policies and <span>Job opportunity.</span></p>
    </div>
    <div class="form">
    <input type="text" placeholder="Your email address">
    <button routerLink="/sign-up" >Sign Up</button>

    </div>
    </section>