#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #041e42;
    padding: 30px 80px;
    margin: 10px 0px 50px;
}
#newsletter h4{
    font-size: 22px;
    line-height: 2em;
    font-weight: bolder;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: bolder;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 5rem;
    padding: 1.25em;
    font-size: 16px;
    width: 70%;
    font-weight: bolder;
    margin-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-style: none;
    border: none;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    width: 20%;
    outline:none;
    font-size: 15px;
    font-weight: bolder;
    border:none;
    border-left-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

