<div class="container">
    <div class="login">
        <h2>Sign-In</h2>
        <form>
            <div class="username">
                <span>Full Name</span>
                <br>
                <input type="text" ngModel name="username" placeholder="Enter the Full Name">
            </div>
            <div class="username">
                <span>Mobile Number</span>
                <br>
                <input type="text" ngModel name="username" placeholder="Enter the Mobile Number">
            </div>
            <div class="username">
                <span>Enter the Email Address</span>
                <br>
                <input type="text" ngModel name="username" placeholder="Enter the Email Address">
            </div>
            <div class="password">
                <span>Enter the Password</span>
                <br>
                <input type="text" ngModel name="password" placeholder="Enter the password">
            </div>
            <div class="button">
                <button>Sign-Up</button>
            </div>
            <a class="anchor" routerLink="/login" >Already registered? Login</a>
        </form>
    </div>
</div>
