.container{
    text-align: center;
    margin-top: 150px;
}
.login{
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205,46%,30%,1) 0%, hsla(260,29%,36%,1) 100%);
    color: white;
}
h2{
    margin-top: 20px;
}
.username{

    line-height: 1rem;
    margin-left: auto;
    margin-right: auto;
    width : 50%;
    text-align: left;
}
.password{
    line-height: 1rem;
    margin-left: auto;
    margin-right: auto;
    width : 50%;
    text-align: left;
    margin-top: 20px;
}
span{
    font-size: 10px;
}
.button{
    margin-top: 20px;
    margin-bottom: 10px;
}
button {
    background-color: hsla(205, 46%, 30%, 1);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
input{
    width: 300px;
}
.anchor{
    list-style: none;
    text-decoration: none;
    color: white;
}
input::placeholder {
    font-size: 10px;
  }
  
