<div class="container">
    <div class="login">
        <h2>Login Page</h2>
        <form>
            <div class="username">
                <span>Email Address</span>
                <br>
                <input type="text" ngModel name="username">
            </div>
            <div class="password">
                <span>Password</span>
                <br>
                <input type="text" ngModel name="password">
            </div>
            <div class="button">
                <button>Login</button>
            </div>
            <a class="anchor" routerLink="/sign-up" >New User? Click to Sign-up</a>
        </form>
    </div>
</div>
